<ion-view class="layouts-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Account</span>
  </ion-nav-title>
  <ion-content>
    <div class="list">
   <a class="item item-icon-left" href="#">
    <i class="icon "></i>
    Account Number
    <span class="item-note">
      1234567890
    </span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon"></i>
    Account Type
    <span class="item-note">
      HSA
    </span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon"></i>
    Email
    <span class="item-note">
      johnsmith@customer.com
    </span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon "></i>
    Routing Number
    <span class="item-note">
      101000695
    </span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon "></i>
    Phone Number
    <span class="item-note">
      123 456 7890
    </span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon"></i>
    User ID
    <span class="item-note">
      56cf73598f9f0c3ad718fa61
    </span>
  </a>
  
  
        
     
    </div>
  </ion-content>
</ion-view>
