 <ion-view class="auth-view" cache-view="false">
    <ion-nav-title>
    </ion-nav-title>
    <ion-content class="padding">
        {{bal_hists}}

        <table style="width: 100%;" orderby:>
<th style="background-color: #0085ff; color: white; font-size:16pt;">Date</th>
<th style="background-color: #0085ff; color: white; font-size:16pt;">Amount</th>

<th style="background-color: #0085ff; color: white; font-size:16pt;">Balance</th>
<tr ng-repeat="item in bal_hists">
<td ng-repeat="(key,value) in bal_hists" ng-if="$index==1" >{{ bal_hists.date }}</td>
<td ng-repeat="(key,value) in bal_hists" ng-if="$index==2" >{{ bal_hists.amount }}</td>
<td   >{{ curbal-balhists.amount }}</td>



</tr>
</table>
                    </ion-content>
	</ion-view>