<ion-view view-title="Monthlyusage">
  <ion-content class="padding">

    <ion-list >
      <ion-item ng-repeat="item in claims">
      Q{{count}}
      <ion-item ng-repeat="i in item" count++>
        <div class="card">
          <ion-item ng-repeat="(key,value) in i">
          <div class="item item-divider">
          {{key}}
          </div>
          <div class="item item-text-wrap">
          {{value}}
          </div>
          </ion-item>
        
          </ion-item>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
