 <ion-view class="auth-view" cache-view="false"  class="class-white">
    <ion-nav-title>
        <span>New Claim</span>
    </ion-nav-title>
    <ion-content class="padding">
        <div class="list">
          <label class="item ">
                <span class="input-label">Transaction ID</span>
                <span> {{trans_id}}</span>
            </label>
            <label class="item item-input ">
                <span class="input-label">Date of Expense</span>
                <input type="text" placeholder="01/11/1990" ng-model="input.date_of_expense">
            </label>
            <label class="item item-input ">
                <span class="input-label">Descripe Expenses</span>
                <input type="text" placeholder="Medical Check-up, Dental, Vision" ng-model="input.description">
            </label>
            <label class="item item-input ">
                <span class="input-label">Payment Method</span>
                <input type="text" placeholder="Visa" ng-model="input.payment_method">
            </label>
            <label class="item item-input">
                <span class="input-label">Amount Claimed</span>
                <input type="text" placeholder="100.50" ng-model="input.total_reimbursement">
            </label>
        </div>
        <button type ="submit"class="button button-block button-positive" ng-click="addClaim()">
            Submit
        </button>
    </ion-content>
</ion-view>