 <ion-view class="auth-view" cache-view="false">
    <ion-nav-title>
        <span>New Claim</span>
    </ion-nav-title>
    <ion-content>
        <div class="list">
            <label class="item item-input ">
                <span class="input-label">Transaction_Id</span>
                <input type="text" placeholder="111" ng-model="input.trans_id">
            </label>
            <label class="item item-input ">
                <span class="input-label">Date of Expense</span>
                <input type="text" placeholder="01/11/1990" ng-model="input.date_of_expense">
            </label>
            <label class="item item-input ">
                <span class="input-label">Descripe Expenses</span>
                <input type="text" placeholder="Medical Check-up, Dental, Vision" ng-model="input.description">
            </label>
            <label class="item item-input ">
                <span class="input-label">Payment_method</span>
                <input type="text" placeholder="Visa" ng-model="input.payment_method">
            </label>
            <label class="item item-input">
                <span class="input-label">Amount Claimed</span>
                <input type="text" placeholder="100.50" ng-model="input.total_reimbursement">
            </label>
        </div>
        <button type ="submit"class="button button-block button-positive" ng-click="addClaim()">
            Submit
        </button>
        <button class="button button-full button-assertive" ng-click="takePhoto()">
            Take Photo2
        </button>
        <button class="button button-full button-assertive" ng-click="choosePhoto()">
            Choose Photo
        </button>
        <center>
        <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center"></center>
        <button class="button button-full button-assertive" ng-click="uploadImage()">
            Process Photo
        </button>
        <div ng-controller="ExampleController">
          <p>{{res}}</p>
        </div>
    </ion-content>
</ion-view>