 <ion-view class="auth-view" cache-view="false">
    <ion-nav-title>
    </ion-nav-title>
    <ion-content class="padding">
        <div class="list">
            <label class="item ">
                <span class="input-label">Account ID {{input.id}}</span>
            </label>
            <label class="item item-input ">
                <span class="input-label">Routing Number</span>
                <input type="text"  ng-model="input.routing_number">
            </label>
            <label class="item item-input ">
                <span class="input-label">Account Number</span>
                <input type="text"  ng-model="input.account_number">
            </label>
            <label class="item item-input ">
                <span class="input-label">First Name</span>
                <input type="text"  ng-model="input.first_name">
            </label>
            <label class="item item-input">
                <span class="input-label">Last Name</span>
                <input type="text"  ng-model="input.last_name">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text"  ng-model="input.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Phone Number</span>
                <input type="text"  ng-model="input.phone">
            </label>
            <label class="item item-input">
                <span class="input-label">Street Address</span>
                <input type="text"  ng-model="input.street_address">
            </label>
            <label class="item item-input">
                <span class="input-label">City</span>
                <input type="text" ng-model="input.city">
            </label>
            <label class="item item-input">
                <span class="input-label">Country</span>
                <input type="text" ng-model="input.country">
            </label>
            <label class="item item-input">
                <span class="input-label">Zipcode</span>
                <input type="text" ng-model="input.zipcode">
            </label>
        </div>
        <button type ="submit"class="button button-block button-positive" ng-click="ChangeProfile()">
            Make Change
        </button>
            </ion-content>
	</ion-view>