<ion-view view-title="Yearly Usage History" class="class-white">
  <ion-content class="padding">
<button class="button button-block button-positive" ng-click="viewGraph()">
            View Graph Visualization
        </button>
        <div class="row">
        <div class="col">
        <button class="button button-block button-positive" ng-click="oDate()">
            Order By Date
        </button>
        </div>
        <div class="col">
        <button class="button button-block button-positive" ng-click="oAmount()">
            Order By Amount
        </button>
        </div>
        </div>
<table style="width: 100%;">
<th style="background-color: #0085ff; color: white; font-size:16pt;">Claim Date</th><th style="background-color: #0085ff; color: white; font-size: 16pt;">Amount</th>
<tr ng-repeat="item in claims | orderBy:fi">
<td ><center>{{ item.date_of_claim }}</center></td>
<td ><center>${{ item.total_reimbursement }}</center></td>
</tr>
</table>

  </ion-content>
</ion-view>
