<ion-view view-title="Yearly Usage History" class="class-white">
  <ion-content class="padding">

<table style="width: 100%;" orderby:>
<th style="background-color: #0085ff; color: white; font-size:16pt;">Date of Expense</th><th style="background-color: #0085ff; color: white; font-size: 16pt;">Reimbursement</th>
<tr ng-repeat="item in claims">
<td ng-repeat="(key,value) in item" ng-if="$even" >{{ value }}</td>
<td ng-repeat="(key,value) in item" ng-if="$odd" >${{ value }}</td>
</tr>
</table>
  </ion-content>
</ion-view>
