
<ion-view view-title="Quarterly Usage History" id="styled-page"  class="class-white">
  <ion-content class="padding">

  <!-- <button class="button button-block button-positive" ng-click="viewGraph()">
            View Graph Visulazation
        </button>
    <ion-list >
      <ion-item ng-repeat="item in claims">
      Q{{$index+1}}
      <ion-item ng-repeat="i in item">
        <div class="card">
          <ion-item ng-repeat="(key,value) in i">
          <div class="item item-divider" ng-if="$even">
          Date of Expense
          </div>
          <div class="item item-divider" ng-if="$odd">
          Reimbursement
          </div>
          <div class="item item-text-wrap" ng-if="$even">
          {{value}}
          </div>
           <div class="item item-text-wrap" ng-if="$odd">
          ${{value}}
          </div>
          </ion-item>
        
          </ion-item>
      </ion-item>
    </ion-list> -->
    <ion-item ng-repeat="item in claims">
    <center><div style="font-size:18pt;">Quarter {{$index+1}} Report</div><br></center>
<table style="width: 100%;">
<th style="background-color: #0085ff; color: white; font-size:16pt;">Claim Date</th><th style="background-color: #0085ff; color: white; font-size: 16pt;">Amount</th>

<tr ng-repeat="i in item | orderBy:'-d'">
<td style="color:black;"><center>{{ i.date_of_claim }}</center></td>
<td style="color:black;"><center>${{ i.total_reimbursement }}</center></td>
</tr>
</table>
</ion-item>




  </ion-content>
</ion-view>
