<ion-view view-title="Signup" name="signup-view" st id="login-view" >
  <ion-content class="padding">
  
      <center><img src="img/umblogo.png"  width="80%"></center>
     
      <div>
    
      
      </div>
          <form novalidate="novalidate" name="registerForm">
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-ios-person"></i>
                    <input type="text" placeholder="Username" name="username" ng-model="registration.username" required>
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios-locked"></i>
                    <input type="password" placeholder="Password" name="password" ng-model="registration.password"
                           required>
                </label>
                <label class="item item-input">
                    <i class="icon ion-email"></i>
                    <input type="email" placeholder="E-mail" name="email" ng-model="registration.email" required>
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios-person"></i>
                    <input type="text" placeholder="Account_Id" name="Account_Id" ng-model="registration.account_id" required>
                </label></div></form>
                 <button ng-disabled="!registerForm.$valid" ng-click="register()"
                        class="button icon ion-compose button-block  button-positive">
                    Register
                </button>
           
  </ion-content>
</ion-view>