<ion-view view-title="Home" style="background: url('../img/texture.jpg');" class="class-white">
  <ion-content class="padding">
    <center><h2 class="class-white">Welcome back!</h2></center>

        <div class="card">
          <ion-item >
          <div class="item item-divider">
          Current Balance:
          </div>
          <div class="item item-text-wrap">
          ${{curbal}}
          <div style ="float: right;"
          <button class = "button button-small button-positive">View History</button></div>
          </div>
          
          
          </ion-item>
        </div>
         <div class="card">
          <ion-item >
          <div class="item item-divider">
          Available Balance:
          </div>
          <div class="item item-text-wrap">
          ${{avabal}}
          <div style ="float: right;"
          <button class = "button button-small button-positive">View History</button></div>
          </div>
          </ion-item>
        </div>

      <br><br>
      For test purpose, You could change your account id here
         <p> -- 56cf75c48f9f0c3ad718fa69</p>
            <p>  -- 56cf75c48f9f0c3ad718fa6a </p>
      <div class="item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Account id" ng-model="input.accountid">
      </label>
      <button class="button button-balanced button-small" ng-click="addAccountid()">
        Add
      </button>
    </div>
  </ion-content>
</ion-view>
