<ion-view view-title="Usage">
  <ion-content class="padding">
      <p>User could view their usage of HSA like the amount of money spend on health and the reimbursement in a specific time period</p>
   <!--  <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" ng-click="thisWeek()">
        Last Week
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" ng-click="thisMonth()">
        Last Month
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" ng-click="thisYear()">
        Last Year
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list> -->
    <div class="card">
    <div class="item item-divider">
    Monthly Activity
    </div>
    <div class="item item-text-wrap">
    <button type ="button"class="button button-block button-positive" ng-click="Graph7()">
            Graph
        </button>
        <button type ="button"class="button button-block button-positive" ng-click="Detail7()">
            Detail
        </button>
    </div>
    </div>
    <div class="card">
    <div class="item item-divider">
    Quarterly Activity
    </div>
    <div class="item item-text-wrap">
    <button type ="button"class="button button-block button-positive" ng-click="Graph30()">
            Graph
        </button>
        <button type ="button"class="button button-block button-positive" ng-click="Detail30()">
            Detail
        </button>
    </div>
    </div>
    <div class="card">
    <div class="item item-divider">
    Yearly Activity
    </div>
    <div class="item item-text-wrap">
    <button type ="button"class="button button-block button-positive" ng-click="Graph365()">
            Graph
        </button>
        <button type ="button"class="button button-block button-positive" ng-click="Detail365()">
            Detail
        </button>
    </div>
    </div>
  </ion-content>
</ion-view>
