<ion-view view-title="Tax Information" id="styled-page" >
  <ion-content class="padding">
   

   <!-- <div class="list card"> -->
  <div>
     <div class="item item-divider">
    Tax Form 5498SA
  </div>
            <label class="item item-input ">
                <span class="input-label">Participant SSN</span>
                <input type="text" placeholder="XXX-XX-XXXX">
            </label>
            <label class="item item-input ">
                <span class="input-label">Employee Archer MSA Contribution</span>
                <input type="text" placeholder="1000.00">
            </label>
            <label class="item item-input l">
                <span class="input-label">Total Contributions This Year</span>
                <input type="text" placeholder="2321.26">
            </label>
            <label class="item item-input ">
                <span class="input-label">Rollover Contributions</span>
                <input type="text" placeholder="900.00">
            </label>
            <label class="item item-input ">
                <span class="input-label">Fair Market Value</span>
                <input type="text" placeholder="Medical Check-up, Dental, Vision">
            </label>
            <label class="item item-input">
                <span class="input-label">Amount Claimed</span>
                <input type="text" placeholder="100.50">
            </label>
            <label class="item item-input">
                <span class="input-label">Type</span>
                <input type="text" placeholder="HSA">
            </label>
        </div>
  <!-- </div> -->

<!-- <div class="list card"> -->
  <div >
     <div class="item item-divider">
    Tax Form 1099SA
  </div>
  <label class="item item-input ">
                <span class="input-label">Recipient ID</span>
                <input type="text" placeholder="XXXXXXXXXXX">
            </label>
            <label class="item item-input ">
                <span class="input-label">Recipient's Name</span>
                <input type="text" placeholder="John Doe">
            </label>
            <label class="item item-input l">
                <span class="input-label">Gross Distribution</span>
                <input type="text" placeholder="2321.26">
            </label>
            <label class="item item-input ">
                <span class="input-label">Earnings on Excess cont.</span>
                <input type="text" placeholder="900.00">
            </label>
            <label class="item item-input ">
                <span class="input-label">Distribution Code</span>
                <input type="text" placeholder="154654132">
            </label>
            <label class="item item-input">
                <span class="input-label">FMV on DoD</span>
                <input type="text" placeholder="100.50">
            </label>
            <label class="item item-input ">
                                <span class="input-label">Type</span>
                <input type="text" placeholder="HSA">
            </label>
            </label>
    </div>
              
  </ion-content>
</ion-view>
