 <ion-view view-title="Transction History">
 <ion-content class="padding">
    <ion-list>
    <ion-item ng-repeat="item in trans">
    <div class="card" ng-click="show(item.trans_id)">
    <ion-item>
    <div class="item item-divider">
    Note :
    </div>
    <div class="item item-text-wrap">
    {{item.note}}
    </div>
    </ion-item>
     <ion-item>
    <div class="item item-divider">
    Amount :
    </div>
    <div class="item item-text-wrap">
    {{item.amount}}
    </div>
    </ion-item>
    </div>
    </ion-item>
    </ion-list>        
 </ion-content>
 </ion-view>