
<ion-view view-title="Quarterly Usage History"  class="class-white">
  <ion-content class="padding">

      <ion-item ng-repeat="item in claims">
      <center><span>Quater {{$index+1}} Report</span></center>
        <div ng-repeat="i in item" class="card">
          <ion-item>
    <div class="item item-divider">
    Note :
    </div>
    <div class="item item-text-wrap">
    {{i.note}}
    </div>
    </ion-item>
     <ion-item>
    <div class="item item-divider">
    Amount :
    {{i.amount}}
    </div>
    </ion-item>
        </div>
      </ion-item>
  </ion-content>
</ion-view>
