<ion-view view-title="Weeklyusage" style="background: url('../img/texture.jpg');" class="class-white">
  <ion-content class="padding">

    <ion-list >
      <ion-item ng-repeat="item in claims">
        <div class="card">
          <ion-item ng-repeat="(key,value) in item">
          <div class="item item-divider">
          {{key}}
          </div>
          <div class="item item-text-wrap">
          {{value}}
          </div>
          </ion-item>
        </div>
      </ion-item>
    </ion-list>

    
  </ion-content>
</ion-view>
