<ion-view view-title="Yearlyusage">
  <ion-content class="padding">

    <ion-list >
      <ion-item ng-repeat="item in claims">
        <div class="card">
          <ion-item ng-repeat="(key,value) in item">
          <div class="item item-divider" ng-if="$even">
          Date of Expense
          </div>
          <div class="item item-divider" ng-if="$odd">
          Reimbursement
          </div>
          <div class="item item-text-wrap" ng-if="$even">
          {{value}}
          </div>
           <div class="item item-text-wrap" ng-if="$odd">
          ${{value}}
          </div>
          </ion-item>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
