<ion-view view-title="Yearly Usage Summary"  class="class-white">
  <ion-content class="padding">


<!-- <div class="card">
        <div class="item item-divider">
            <center>Total Spending for Each Month (Line)</center>
        </div>
        <div class="item item-text-wrap">
            <canvas id="line" class="chart chart-bar" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
        </div>
    </div>
    <div class="card">
        <div class="item item-divider">
            <center>Total Spending for Each Month (Bar)</center>
        </div>
        <div class="item item-text-wrap">
            <canvas id="bar" class="chart chart-bar" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
        </div>
    </div> -->
    
    <div class="card">
        <div class="item item-divider">
            <center>Total Spending for Each Month (Line)</center>
        </div>
        <div class="item item-text-wrap">
            <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
        </div>
    </div>
    <div class="card">
        <div class="item item-divider">
            <center>Total Spending for Each Month (Bar)</center>
        </div>
        <div class="item item-text-wrap">
            <canvas id="bar" class="chart chart-bar" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
        </div>
    </div>


  </ion-content>
</ion-view>
